In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as pltB
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, plot_roc_curve, roc_auc_score, roc_curve, auc, RocCurveDisplay, PrecisionRecallDisplay, precision_recall_curve
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder,StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
from sklearn.tree import export_text
from sklearn.utils import resample
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import RandomOverSampler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from xgboost import XGBClassifier

In [2]:
df = pd.read_csv('Airlines.csv') #loading data

In [3]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
df.isna().sum() #Checking for null values

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [5]:
df.columns = [s.strip().replace(' ', '_') for s in df.columns] #replacing colums names which has spaces with the "_"
df.head()

,Unnamed:_0,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [6]:
mean_airlines = df['Arrival_Delay_in_Minutes'].mean()
df.Arrival_Delay_in_Minutes = df.Arrival_Delay_in_Minutes.fillna(value=median_airlines)
df.isna().sum()
##Impude missing values

Unnamed:_0                           0
id                                   0
Gender                               0
Customer_Type                        0
Age                                  0
Type_of_Travel                       0
Class                                0
Flight_Distance                      0
Inflight_wifi_service                0
Departure/Arrival_time_convenient    0
Ease_of_Online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On-board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_Delay_in_Minutes           0
Arrival_Delay_in_Minutes             0
satisfaction                         0
dtype: int64

In [7]:
df.drop(['Unnamed:_0','Seat_comfort'],axis=1,inplace=True) #Droping unwanted column's.

In [8]:
df.columns

Index(['id', 'Gender', 'Customer_Type', 'Age', 'Type_of_Travel', 'Class',
       'Flight_Distance', 'Inflight_wifi_service',
       'Departure/Arrival_time_convenient', 'Ease_of_Online_booking',
       'Gate_location', 'Food_and_drink', 'Online_boarding',
       'Inflight_entertainment', 'On-board_service', 'Leg_room_service',
       'Baggage_handling', 'Checkin_service', 'Inflight_service',
       'Cleanliness', 'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes',
       'satisfaction'],
      dtype='object')

In [9]:
Category_Features = ['Gender','Customer_Type','Type_of_Travel','Class'] #Creating list of Categorical Features.

In [10]:
#lopping through every categorya.
for i in Category_Features+['satisfaction']:
    df[i] = df[i].astype('category') #Casting from object class to category class.
df.dtypes #Cheching all columns Data types.

id                                      int64
Gender                               category
Customer_Type                        category
Age                                     int64
Type_of_Travel                       category
Class                                category
Flight_Distance                         int64
Inflight_wifi_service                   int64
Departure/Arrival_time_convenient       int64
Ease_of_Online_booking                  int64
Gate_location                           int64
Food_and_drink                          int64
Online_boarding                         int64
Inflight_entertainment                  int64
On-board_service                        int64
Leg_room_service                        int64
Baggage_handling                        int64
Checkin_service                         int64
Inflight_service                        int64
Cleanliness                             int64
Departure_Delay_in_Minutes              int64
Arrival_Delay_in_Minutes              float64
satisfaction                         category
dtype: object

In [11]:
df['satisfaction'].value_counts() #Checking Count of Target Variable.

neutral or dissatisfied    58879
satisfied                  45025
Name: satisfaction, dtype: int64

In [13]:
df['satisfaction']=df['satisfaction'].replace({'satisfied':'Satisfied',
    'neutral or dissatisfied':'Dissatisfied'})

In [14]:
enc = OrdinalEncoder() #Creating instace of OrdinalEncoder.
for i in Category_Features:
    df[i]=enc.fit_transform(df[[i]]) #Coverting to numerical.
df.dtypes #Cheching all columns Data types.
df.head()

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
0,70172,1.0,0.0,13,1.0,2.0,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,Dissatisfied
1,5047,1.0,1.0,25,0.0,0.0,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,Dissatisfied
2,110028,0.0,0.0,26,0.0,0.0,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,Satisfied
3,24026,0.0,0.0,25,0.0,0.0,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,Dissatisfied
4,119299,1.0,0.0,61,0.0,0.0,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,Satisfied

In [15]:
enc = LabelEncoder() #Creating instace of LabelEncoder.
df['satisfaction']=enc.fit_transform(df['satisfaction']) #Encoding target categorical variables to numerical.
df.dtypes #Checking Data Types.
df.head()

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
0,70172,1.0,0.0,13,1.0,2.0,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,1.0,1.0,25,0.0,0.0,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,0.0,0.0,26,0.0,0.0,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,0.0,0.0,25,0.0,0.0,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,1.0,0.0,61,0.0,0.0,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [16]:
df.dtypes

id                                     int64
Gender                               float64
Customer_Type                        float64
Age                                    int64
Type_of_Travel                       float64
Class                                float64
Flight_Distance                        int64
Inflight_wifi_service                  int64
Departure/Arrival_time_convenient      int64
Ease_of_Online_booking                 int64
Gate_location                          int64
Food_and_drink                         int64
Online_boarding                        int64
Inflight_entertainment                 int64
On-board_service                       int64
Leg_room_service                       int64
Baggage_handling                       int64
Checkin_service                        int64
Inflight_service                       int64
Cleanliness                            int64
Departure_Delay_in_Minutes             int64
Arrival_Delay_in_Minutes             float64
satisfaction                           int32
dtype: object

In [18]:
df.describe()

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,...,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000
mean,64924.210502,0.492541,0.182678,39.379706,0.310373,0.594135,1189.448375,2.729683,3.060296,2.756901,...,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678,0.433333
std,37463.812252,0.499947,0.386404,15.114964,0.462649,0.620799,997.147281,1.327829,1.525075,1.398929,...,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.640909,0.495538
min,1.000000,0.000000,0.000000,7.000000,0.000000,0.000000,31.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,0.000000,0.000000,27.000000,0.000000,0.000000,414.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000
50%,64856.500000,0.000000,0.000000,40.000000,0.000000,1.000000,843.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000
75%,97368.250000,1.000000,0.000000,51.000000,1.000000,1.000000,1743.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,1.000000
max,129880.000000,1.000000,1.000000,85.000000,1.000000,2.000000,4983.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000,1.000000

In [19]:
target = 'satisfaction'
predictors = list(df.columns) #Assigning Predictors and coverting pandas series object to list.
predictors.remove(target) #removing Target from predictors.
predictors #Checking Predictors list.

['id',
 'Gender',
 'Customer_Type',
 'Age',
 'Type_of_Travel',
 'Class',
 'Flight_Distance',
 'Inflight_wifi_service',
 'Departure/Arrival_time_convenient',
 'Ease_of_Online_booking',
 'Gate_location',
 'Food_and_drink',
 'Online_boarding',
 'Inflight_entertainment',
 'On-board_service',
 'Leg_room_service',
 'Baggage_handling',
 'Checkin_service',
 'Inflight_service',
 'Cleanliness',
 'Departure_Delay_in_Minutes',
 'Arrival_Delay_in_Minutes']

In [20]:
X=df[predictors]
y=df[target]

In [21]:
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.3,random_state=1)

In [22]:
train_y.value_counts()

0    41187
1    31545
Name: satisfaction, dtype: int64

In [23]:
#sampling
ros = RandomOverSampler(random_state=1)
train_X, train_y = ros.fit_resample(train_X, train_y)
train_y.value_counts()

1    41187
0    41187
Name: satisfaction, dtype: int64

In [24]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
scaler.fit(train_X[predictors])

# Transform the predictors of training, validation and newCustomer
train_scaled_data= scaler.transform(train_X[predictors])
test_scaled_data = scaler.transform(test_X[predictors])

In [25]:
s=0
for i in predictors:
    train_X[i]=train_scaled_data[:,s]
    test_X[i]=test_scaled_data[:,s]
    s=s+1
train_X

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Online_boarding,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes
0,1.407351,1.011723,-0.457747,-1.517726,-0.628198,-0.902584,0.646785,-0.572085,-0.685712,-0.554548,...,0.485238,0.429497,1.219596,-0.311592,1.130197,1.314184,0.272323,0.505858,-0.380722,-0.385816
1,0.269474,-0.988413,-0.457747,0.698790,-0.628198,-0.902584,0.502974,-1.302014,-1.338413,-0.554548,...,-0.988457,-1.845559,-1.904763,-1.843130,-2.272259,0.518183,-2.291570,-1.798662,-0.380722,0.343232
2,1.632336,1.011723,-0.457747,0.900291,-0.628198,0.714693,-0.616208,0.887773,0.619692,0.848734,...,0.485238,0.429497,-1.123674,-1.843130,-0.571031,-1.869821,-1.436939,0.505858,-0.380722,-0.385816
3,-0.231700,1.011723,-0.457747,0.833124,-0.628198,-0.902584,1.204420,0.887773,0.619692,-1.256189,...,0.485238,1.187849,1.219596,1.219947,1.130197,-0.277819,1.126954,0.505858,-0.380722,-0.385816
4,0.625261,-0.988413,2.184612,1.101793,-0.628198,0.714693,-0.939049,-1.302014,-1.991115,-0.554548,...,-0.988457,-0.328855,1.219596,1.219947,1.130197,-1.073820,-1.436939,-0.262315,-0.380722,-0.385816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82369,-0.644140,1.011723,2.184612,-1.987896,-0.628198,0.714693,-0.615230,0.887773,1.272394,0.848734,...,0.485238,-1.087207,1.219596,-0.311592,-0.571031,1.314184,-2.291570,-1.030489,-0.380722,-0.385816
82370,-1.123624,1.011723,-0.457747,-1.853562,-0.628198,2.331969,-0.403916,1.617701,-1.338413,-1.256189,...,1.222086,1.187849,-1.123674,-1.843130,-0.571031,0.518183,0.272323,1.274032,-0.380722,-0.385816
82371,-1.030003,1.011723,-0.457747,-0.107216,-0.628198,-0.902584,-0.234669,-0.572085,-0.685712,-0.554548,...,-0.251609,0.429497,0.438506,0.454177,0.279583,-1.869821,0.272323,1.274032,-0.301952,0.056820
82372,1.376100,1.011723,-0.457747,0.295787,-0.628198,-0.902584,-0.901874,0.887773,0.619692,0.848734,...,1.222086,1.187849,1.219596,1.219947,1.130197,-0.277819,1.126954,0.505858,-0.380722,-0.385816
82373,0.453778,1.011723,2.184612,-0.711720,-0.628198,-0.902584,0.045127,-2.031943,-1.338413,-1.256189,...,-1.725304,-0.328855,1.219596,-1.077361,1.130197,-0.277819,1.126954,-0.262315,-0.301952,-0.281666

In [26]:
knn = KNeighborsClassifier()
_ = knn.fit(train_X, train_y)
y_pred = knn.predict(test_X)
print(f"Using default parameters : Recall score:\n{recall_score(test_y,y_pred):.4f}")#Checking model Recall score.

Using default parameters : Recall score:
0.8961

In [ ]:
%%time

score_measure = 'recall'
k_fold = 10
# Start with an initial guess for parameters
param_grid = {
     'n_neighbors': list(range(1,round(np.sqrt(len(df))),2)),
    'metric': ['euclidean', 'cosine','manhattan','minkowski'],
    'weights':['uniform','distance']
}
best_grid_search_model = GridSearchCV(KNeighborsClassifier(), param_grid, cv=k_fold, scoring=score_measure,
                          n_jobs=-1,error_score='raise')  # n_jobs=-1 will utilize all available CPUs 
_=best_grid_search_model.fit(train_X, train_y)
print(score_measure, 'score: ', best_grid_search_model.best_score_)
print('parameters: ', best_grid_search_model.best_params_)